body {
    background-color: #000000;
}

h1 {
    color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card .name {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

.title-bar {
    height: 60px;
    background-color: #3e6e82;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info img {
    width: 50%;
    height: auto;
}

.container {
    display: grid;
    /* This creates the 3-column layout for the cards inside */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5% 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.card {
    /* Optional: adds a border or background to each planet "section" */
    background-color: #00384e;
    padding: 0px;
    border: 2px solid #121212;
    border-radius: 0px;
    transition: scale 0.5s, background-color 0.5s, border 0.5s;
    scale: 90%;
}

.card:hover .name{
    color: #ddddff;
    text-decoration: none;
}

.card:hover {
    background-color: white;
    border: 2px solid white;
    scale: 100%;
}

.card img {
    width: 100%;
    height: auto;
    /* display: block; */
}

.card p {
    margin-top: 2%;
}