{% extends "layout.html" %}
{% block body %}
<!--heading-->
<div class="title-bar">
    <h1><ins>{{moon[0]}}</ins></h1>
</div>
<!--NavBar-->
<ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
</ul>
<!--moon image-->
<div class="info">
    <div>
        <img src="{{ moon[2] }}" alt="">
    </div>
    <!--moon info here-->
    <div>
        <h2>Info</h2>
        <p>Diameter: {{moon[1]}}km</p>
        <p>Orbital Speed: {{moon[3]}}km/s</p>
        <p>Description: {{moon[4]}}</p>
    </div>
</div>
{% endblock %}