{% extends "layout.html" %}
{% block body %}
<!--Heading-->
<div class="title-bar">
    <h1><ins>{{planet[0]}}</ins></h1>
</div>
<!--NavBar-->
<ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
</ul>
<!--Just the planet-->
<div class="info">
    <div>
        <img src="{{ planet[2] }}" alt="">
    </div>
    <!-- planet info here -->
    <div class="planet-info">
        <h2>Info</h2>
        <p>Diameter: {{planet[1]}}km</p>
        <p>Orbital Speed: {{planet[3]}}km/s</p>
        <p>Age: {{planet[6]}} billion yrs</p>
        <p>Rotation: {{planet[5]}}hrs</p>
        <p>Description: {{planet[4]}}</p>
    </div>
</div>
<!--Moon heading-->
<div>
    <h2>Moons</h2>
</div>
<!--List of moons in 3 columns-->
<div class="container">
    {% for moon in moons %}
    <div class="card">
        <a class="name" href="{{ url_for('moon', id=moon[0])}}">
        <img src="{{ moon[2] }}" alt="">
        <p class="name"><strong>{{ moon[1] }}</strong></p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}